@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/matt2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2.50em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.body {
    width: 0%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    background: url(img/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

   /* Applying CSS to sphere */
.tagcloud {
    display: inline-block;
    bottom: 550px;
    left: 60%; 
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
  
.tagcloud--item:hover {
    color: #ffffff ;
  }

@media (max-width:300px){
    body{
        font-size: 10px;  
    }
}